.about-page {
  width: 100%;
  height: 100%;
}

.about-page__content {
  background-color: white;
  left: 20px;
  right: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0px var(--lightGrey);
  margin-bottom: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about-page__content .section-container {
  margin: 10px;
  padding: 20px 30px;
  border-bottom: 1px solid var(--lightGrey);
}

.about-page__text {
  text-align: justify;
}

.about-page__img--banner {
  max-width: 100%;
  width: 500px;
  display: block;
  margin: 30px auto 0 auto;
}

.no-border {
  border: none !important;
}
