.price-benefit-table th,
.price-benefit-table td {
  padding: 0 10px 5px 0;
  text-align: center;
}

.price-benefit-table {
  margin-bottom: 10px;
}

.benefit-col__body-text__icon {
  width: 13px;
  margin-right: 4px;
}

.card__row .service-image {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  margin: 15px 15px 15px 0;
}

.offered-service-card__row--checkboxes {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.offered-service-card__detail-container {
  padding: 0 0 5px 0;
}
