body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Make contents of tabs overlap with AppHeader */
.tab-page__content {
  position: absolute;
  top: 22%; /* Since AppHeader height is 25%  */
}

@media screen and (max-width: 350px) {
  .tab-page__content {
    position: absolute;
    top: 23%; /* Since AppHeader height is 25%  */
  }
}