.card {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 2px 4px 12px -1px var(--shadowGrey);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.card__text {
  color: var(--darkGrey) !important;
  text-align: left !important;
}

.card__row {
  display: flex;
  padding-left: 15px;
}

.card__col1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.card__col2 {
  flex: 5;
  margin-left: 15px;
  margin-top: 15px;
}

.card__col3 {
  flex: 1;
}

.card__row .service-logo {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 500px) {
  .card__col1 {
    flex: 2;
  }
}
