.tabs-page {
  min-width: 350px;
  max-width: 500px;
  min-height: 560px;
  max-height: 840px;
  height: 91vh;
  width: 100vw;
  margin: auto;
}

.tabs-page__page {
  height: 100%;
  width: 100%;
}

.bottom-tab-navigator {
  background-color: var(--white);
  height: 50px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  box-shadow: 0 10px 50px 10px var(--lightGrey);
}

.icon-container {
  color: black;
  font-size: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-container__img {
  width: 25%;
}
