.tabs-page {
  height: 100vh;
  width: 100vw;
}

.tabs-page__page {
  height: 91%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.bottom-tab-navigator {
  background-color: var(--white);
  height: 50px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  box-shadow: 0 -1px 30px -5px var(--lightGrey);
}

.icon-container {
  color: black;
  font-size: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-container__img {
  width: 25%;
}

@media screen and (min-width: 700px) {
  .icon-container__img {
    width: 13%;
  }

  .bottom-tab-navigator {
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-container__img {
    width: 9%;
  }

  .bottom-tab-navigator {
    height: 60px;
  }
}
