:root {
  --green: #00df70;
  --orange: #f5a623;
  --red: #df3a00;
  --darkBlue: #325a75;
  --darkBlue-lighter: #457a9e;
  --darkBlue-translucent: #193446bf;
  --darkGrey: #515253;
  --lightGrey: #d8d8d8;
  --shadowGrey: #a0a0a0;
  --white: #fbfbfb;
  --darkBlueGradientFrom: #182642;
  --darkBlueGradientTo: #355370;
  --darkBlueGradientFromT: #182642cc; /* translucent */
  --darkBlueGradientToT: #355370cc; /* translucent */
}
