.headline {
  margin: 0;
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.title {
  margin: 0;
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  margin: 0;
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.subheader2 {
  margin: 0;
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.large-body {
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.body-text {
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 14px; /* was 10px */
}

.small-body {
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: lighter;
  font-size: 10px;
}

.number {
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.large-number {
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.button-text {
  color: #515253;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 10px;
}
